# Dependency directories
node_modules/

# Next.js build output
.next/
out/

# Environment variables
.env*.local

# Build logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store

# IDE settings
.vscode/
.idea/

# Testing
coverage/

# Vercel
.vercel/
